<!DOCTYPE html>
<html>
<head>
    <title>Online IDE</title>

<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

</style>



<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="row">

  <!-- Buttons goes here -->
  <div class="col s5 m5 l5 right" style="background-color: #292727; position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;">
    <div class="row">
       
      <div class="col offset-s1 offset-l1 offset-m1 s6 m6 l6">
          <div style="position: relative; top: 25px;">

            <input type="checkbox" id="custom_input_check">
            <label for="custom_input_check">Input</label>


          </div>

          <div class="input-field" style="position: relative; top: 25px;">
            <textarea id="custom_input" class="materialize-textarea" style="color: white;"></textarea>                    
          </div>

      </div>

        <div class="input-field col s5 m5 l5 right">
          <a onclick="CompileCode();" class="btn-floating btn-large green tooltipped right" data-position="left" data-tooltip="Compile">
              <i class="large material-icons">done</i>
          </a>
        </div>
    </div> 

     <div id="output" class="row" style="color: white; margin-left: 4%;">
        <h5>Output</h5>
        <p id="output_text">Hello World</p>
      </div> 
  </div> 

  <div class="col offset-s1 offset-l1 offset-m1 s7 m7 l7 left" id="editor" style="width: 60%; left: -8.3%" >print("Hello World!")</div>
</div>    

    <!-- Ace editor goes here -->

    


    
<script src={{ url_for('static', filename="ace-builds/src-noconflict/ace.js")}} type="text/javascript" charset="utf-8"></script>


<script>



    $( document ).ready(function() {
        
          $("#custom_input").hide();

          $("#output").hide();

          $('#custom_input_check').change(function () {      
              if($('#custom_input_check').is(":checked"))
              {
                  $("#custom_input").show();
                  Materialize.toast("Custom Input Enabled", 2000);
              }
              else
              {                  
                    $("#custom_input").hide();
                    Materialize.toast("Custom Input Disabled", 2000);
              }
         });

    });

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");

    editor.setOptions({
      fontFamily: " monaco,Courier,monospace;",
      fontSize: "13pt"
    });



    function CompileCode(){
      Materialize.toast("Compiling Wait!",3000);
      var code = editor.getValue();
      var user_input = $("#custom_input").val();
      // var language_code


      // calling the api here!!

        var api_data = {};
        api_data['code'] = code;
        api_data['user_input'] = user_input;
        $.ajax({
          type: "GET",
          url: "/compile",          
          data: api_data,        
          success: function(data){
             data = JSON.parse(data);
             debugger;
                       $("#output").show();
                       $("#output_text").html(data['message']);

          }
        });

    }


    


</script>

</body>
</html>